ProcessadorQuartus/output_files
ProcessadorQuartus/db
ProcessadorQuartus/incremental_db
ProcessadorQuartus/simulation
ProcessadorQuartus/*.bak
ProcessadorQuartus/Processador_nativelink_simulation.rpt
ProcessadorQuartus/Processador_nativelink_simulation.rpt
